  <!--<pre>{{data.data | json}}</pre>-->

  <input type="text" ng-model="q" placeholder="Search" />
  Sort <select ng-model="orderProp" >
            <option value="age">Newest</option>
            
            <option value="name">Alphabetical</option>
    </select>
    Order
    <select ng-model="orderOrder" ng-change="updateOrder()" >
        <option value="0">A -> Z </option>
        <option value="1">Z -> A</option>

    </select>

        <div ng-repeat="item in phones | filter:q | orderBy:orderProp:realOrder">
            <phone-detail phone="item"></phone-detail>
        </div>

      <!--  <table class="table">
            <thead>
                <th></th>
                <th>Name</th>
                <th>Detail</th>
                <th>Age</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in phones | filter:q | orderBy:orderProp:realOrder">
                    <td>
                        <a href="#!/phone/{{item.id}}">
                         <img ng-src="{{item.imageUrl}}" style="max-width: 100%;" >
                        </a>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.snippet}}</td>
                    <td>{{item.age}}</td>
                </tr>
            </tbody>
        </table>-->